<div id="footer" class ="round">
  <ul class="navigation round">
	<li><%= link_to_unless_current("Impressum", :action => "impressum") %></li>
	<li><%= link_to_unless_current("Kontakt", :action => "kontakt") %></li>
  </ul>
</div>
